extends layout

block content

  h1= 'My list of hobbies'
  .container
  ul
    each winner in hobbies
      li= winner.hobby + ': ' + winner.desc
  .container
    ul
      img(src="https://upload.wikimedia.org/wikipedia/commons/8/84/Ski_Famille_-_Family_Ski_Holidays.jpg", alt="skiing", style="width:400px;")
