doctype html
html
  head
    title= 'Alex Daffern'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/hobbies') My hobbies
    br
    a(href='/classes') My uni class list

    block content
